* {
  /* border: 1px solid rgb(229, 255, 0); */
}


html {
  font-size: 10px;
  background: url('./IMG_6146.jpg') top center;
  background-size: cover;
  
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  
  
}

.controls {
  display: flex;
  width: 500px;
  height: 100px;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  width: 120px;
  height: 60px;
  margin: 1.5rem
}

.record {
  background-color: rgba(250, 1, 1, 0.9);
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  width: 750px;
  flex-wrap: wrap-reverse;
  margin-left: 20px;
  
}

.key {
  border: .4rem solid black;
  /* border-radius: .5rem; */
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 20rem;
  height: 20rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 .5rem black; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -3px 3px rgba(255, 0, 0 , 0.7);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 6rem;
}

.sound {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}


